name: Waka Readme
on:
  schedule:
    - cron: "0 0 * * *"
  # Manual triggers with workflow_dispatch
  workflow_dispatch:
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: matchai/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 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
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
